@layer reset, base, tokens, recipes, utilities;

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background: #01041a;
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background: #676f88;
    border-radius: 3px;
}

.nextra-code pre {
    border: 1px solid #29304b !important;
    box-shadow: none !important;
}

.nextra-code div {
    background-color: transparent;
}

.nextra-code div button {
    border: none;
    border-radius: 50%;
    padding: 7px;
}

.nextra-code div button:hover {
    background-color: #29304b;
}

.nextra-code div button:has(svg[viewBox="0 0 20 20"]) {
    background-color: #29304b;
}

.nextra-code div button svg  {
    width: 18px;
    height: 18px;
}

.nextra-code div button svg {
    display: block;
}

.nextra-code div svg {
    display: none;
}

.nextra-code div span {
    font-size:16px;
}

pre {
    background-color: transparent;
}

code span span:first-child {
    color: #5192ff;
}

table tr, th, td {
    text-align: start;
    font-size: 16px;
    padding: 16px 150px 16px 23px;
    background-color: transparent;
}

table td:has(strong) {
    color: #ffffff;
}

table td {
    font-size: 14px;
    color: #bcc0d9;
}

h2 {
    padding-bottom: 16px;
}

a[target=_blank] {
  padding:0 !important;
}

a[href^="mailto:"] {
    padding:0 !important;
}

.nextra-steps h3::before {
    background-color: #29304b !important;
    font-size: 14px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

article div:has(time) {
    display: none;
}

.nextra-border {
    border-bottom: 1px solid #29304b !important;
}