@layer reset, base, tokens, recipes, utilities;

html {
    scroll-behavior: smooth;
}

.nextra-code div {
    background-color: transparent;
}

.nextra-code div button {
    border: none;
}

.nextra-code div button svg {
    display: block;
}

.nextra-code div svg {
    display: none;
}

.nextra-code div span {
    font-size:16px;
}

pre {
    background-color: transparent;
}

code span span:first-child {
    color: #5192ff;
}

table tr, th, td {
    font-size: 14px;
}

table td:has(strong) {
    color: #ffffff;
}

table td {
    color: #bcc0d9;
}

#heading-2 {
    margin-bottom: 16px;
}