.layout {
    position: relative;
    background-color: var(--colors-neutral-midnight);
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6,
main p,
main li,
main div {
    color: #fff !important;
}

article .nextra-breadcrumb,
article .nextra-breadcrumb span {
    color: #fff !important;
}

.layout .nextra-sidebar {
    position: sticky;
    top: 70px;
    user-select: auto;
    opacity: 1;
    visibility: visible;
    border-right: 0.5px solid;
    border-color: var(--colors-dark-element-100);
    display: block;
    min-width: 252px;
    height: auto;
    width: 252px;
    max-height: calc(100vh - 65px);
    overflow-y: scroll;
}

.layout .nextra-sidebar li div a:hover,
.layout .nextra-sidebar li button:hover,
.layout .nextra-sidebar li a:hover {
    background-color: #22263c;
}

.layout .nextra-sidebar ul:before {
    background-color: #29304b;
}

.layout .nextra-scrollbar li div {
    width: 200px;
}

.layout .nextra-sidebar.hidden {
    opacity: 0;
    user-select: none;
    visibility: hidden;
    position: absolute;
    top: -10px;
}

.layout div:has(aside) {
    display: flex;
    flex-direction: row;
}

.nextra-sidebar button,
.nextra-sidebar a {
    color: #bcc0d9;
}

.layout .active a {
    color: var(--colors-dark-element-500);
    font-weight: 600;
    border-radius: 4px;
    background-color: var(--colors-dark-element-100);
    position: relative;
    padding: 8px;
}

.layout .active a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 24px;
    background-color: var(--colors-electric-200);
    overflow: "hidden";
    border-radius: "4px";
}

.layout article {
    max-width: 1054px;
}

.layout .nextra-scrollbar .open ul {
    padding-left: 0px;
    padding-top: 15px;
}

.layout .nextra-toc {
    color: #c4c8df;
}

.layout .nextra-toc,
.layout .nextra-sidebar {
    padding-bottom: 10px;
}

.layout .nextra-toc div::before {
    position: absolute;
    content: " ";
    width: 1px;
    height: 97%;
    top: 7px;
    left: -10px;
    background-color: var(--colors-dark-element-200);
}

.layout .nextra-scrollbar a {
    color: #fff;
    font-weight: normal;
}

.layout article .nextra-breadcrumb a:nth-child(1) {
    padding: 0px;
}

.layout article .nextra-breadcrumb a:nth-child(1)::before {
    content: "''";
}
.layout article .nextra-breadcrumb a:nth-child(1)::after {
    content: "''";
}

.nextra-search input {
    background-color: #22263c;
    color: #fff;
}

.nextra-search-results {
    z-index: 3000;
}

.subheading-anchor {
    display: none;
}

/* Override Nextra's body overflow hidden for mobile nav to allow page scrolling */
.nextra-overflow-hidden {
    overflow: auto !important;
}

@media (max-width: 767px) {
    .layout .nextra-sidebar {
        position: relative;
        width: 100vw;
        top: 0;
    }

    .layout .nextra-scrollbar li div {
        width: 100%;
    }

    .layout div:has(aside) {
        flex-direction: column;
    }

    .layout .nextra-toc,
    .layout .nextra-sidebar {
        padding-bottom: 0px;
    }

    article {
        margin-left: 0px;
    }
}
